#btn-options-container {
  width: 50vw;
  height: 50vh;
  background-image: url("../../images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
